*{
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(114, 117, 136);
    padding: 10px;
}

header img{
   width: 201px;
   height: 72px;
   margin-left: 8px;
}

header ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: flex-end;
    text-indent: 25px;
}

header ul li {
    margin: 0 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fe6666;
}
header ul li :hover{
    color: #ffffff;
}
/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
}

.depoimento {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.depoimento img {
    border-radius: 50%;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

blockquote {
    font-style: italic; /* Aplicado o estilo itálico usando font-style */
    margin: 0;
}

.nome {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    color: #ffffff;
}